*{
    /* reset default browser settings */
    margin: 0;
    padding: 0;

    /* tells the browser to account for any border and padding in the values you
    specify for an element's width and height. If you set an element's width to 
    100 pixels, that 100 pixels will include any border or padding you added, and 
    the content box will shrink to absorb that extra width. */
    box-sizing: border-box;

    /* global font unless overwridden */
    /* font-family: 'Khula', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(24, 24, 24)
    
}

body {
}

i{
    margin: 15px;
}

img{
    width: 40px;
    margin-right: 45px;
}

.topBarContainer{

    height: 50px;
    width: 1200px;

    margin: 15px auto;
           
    background: rgb(1, 236, 253);
    border-radius: 4px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.topBarContainer h3{
    /* margin: 0 0 0 5px; */
    /* position: relative; */
    justify-self: center;
}

div.topBarContainer > p{
    color: rgb(9, 255, 0);
        
    align-self: center;
    justify-self: flex-end;
}

/* ***************************************************** */

.rightMenuTopContainer{
    width: 85px;
    margin: 0 10px 0 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rightMenuTopContainer p{
    /* margin-left: 15px; */
}


/* for form */
.outerLoginContainer{
    width: 350px;
    margin: 175px auto 0 auto;
}

/* top h1 */
h1{
    text-align: center;
}

/* FORM **********************************************************/

.loginForm{
    /* border: 1px solid gray; */

    font-size: 12px;

    width: 150px;
    margin: auto;


    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputComboHolder{

    align-self: center;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 120px;

    margin: 10px 0 0 0;
    

}

input{
    width: 150px;
    border-style: none;
    border-bottom: 1px solid black;
}

input:focus{
    outline: none;
}

.loginForm input[type="submit"]{

    width: 150px;
    color: white;

    height: 30px;
    
    
    border-radius: 5px;
    border-style: none;

    margin: 10px auto;
    background-color: rgb(48, 48, 48);
    transition: background-color .3s;
}

.loginForm label{
    margin: 15px 0 0 0;
}

.loginForm input[type="submit"]:hover{

    background-color: rgb(82, 82, 82);
}


.loginForm input[value="Login as Demo User"]{

        background: orange;
        align-self: center;
        margin: 10px 0;

}



/* CREATE USER */
.createUser{
    display: none;
}


.guestLoginBox{
    width: 300px;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guestLoginBox button{
    width: 150px;
    height: 25px;
    border-style: none;
    border-radius: 5px;

    margin-top: 10px;
}

.guestLoginBox a{
    margin: 10px;
    font-size: 12px;
}




