
*{
    /* reset default browser settings */
    margin: 0;
    padding: 0;

    /* tells the browser to account for any border and padding in the values you
    specify for an element's width and height. If you set an element's width to 
    100 pixels, that 100 pixels will include any border or padding you added, and 
    the content box will shrink to absorb that extra width. */
    box-sizing: border-box;

    /* global font unless overwridden */
    font-family: 'Khula', sans-serif;

}

html, body {
    padding: 0;
    margin: 0;
}

.leftcolumn{
    width: 175px;
    height: 100%;
    background-color: rgb(212, 0, 255);

    position: fixed;
    left: 0;
    top: 0;
}

.leftcolumn h6{
    height: 45px;
    line-height: 45px;
    width: 115px;
    margin: 10px auto 0 auto;
    border-radius: 4px;
    background-color: rgb(236, 236, 236);

    text-align: center;
}

.leftcolumn h6:hover{
    background-color: rgb(211, 211, 211);
}



.centercontent{
    position: absolute;
    margin: 0 0 0 175px;
}

.centersection1{}

.centersection2{
    color: red;
    font-size: 50px;
}

table{
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px 45px;
}

thead{
    background-color: green;
}

tr:nth-child(even) {
    background-color: #dddddd;
  }

/* table {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns: 
      minmax(75px, 1fr)
      minmax(250px, 1.67fr)
      minmax(250px, 1.67fr)
      minmax(250px, 1.87fr);
    
}


thead,
tbody,
tr {
display: contents;
}

th,
td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
    position: sticky;
    top: 0;
    background: #76e06c;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
  }

  th:last-child {
    border: 0;
  }
  
  td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080;
  }
  
  tr:nth-child(even) td {
    background: #f8f6ff;
  } */




h1, h2{
    margin: 10px;
    text-align: center;
}


form{
    width: 350px;
    margin: auto;
    border-radius: 4px;

    display: flex;
    flex-direction: column;

    border: 2px solid gray;
}

input[type="submit"]{
    width: 60px;
    display: block;
    align-self: center;
}


.searchDisplay{
    width: 700px;
    height: 250px;
    background: pink;
}