*{
    /* reset default browser settings */
    margin: 0;
    padding: 0;

    /* tells the browser to account for any border and padding in the values you
    specify for an element's width and height. If you set an element's width to 
    100 pixels, that 100 pixels will include any border or padding you added, and 
    the content box will shrink to absorb that extra width. */
    box-sizing: border-box;

    /* global font unless overwridden */
    font-family: 'Khula', sans-serif;
    
}

body{
    background-image: radial-gradient(rgb(255, 204, 204), rgb(255, 72, 0));
}


.outerLoginContainer{
    width: 350px;
    margin: 75px auto 0 auto;
}

/* top h1 */
h1{
    text-align: center;
    font-style: italic
}

/* FORM **********************************************************/

.loginForm{
    border: 1px solid gray;

    width: 300px;
    margin: auto;


    display: flex;
    flex-direction: column;


}

.inputComboHolder{

    align-self: center;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 240px;

    margin: 10px 0 0 0;
    

}

input{
    width: 150px;
}

/* buttons */
.buttonHolder{
    align-self: center;

    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

.loginForm input[type="submit"]{

    width: 120px;

    margin: 10px 0 0 0;

}

.loginForm input[value="create user"]{

        align-self: center;
        margin: 10px 0;

}



/* CREATE USER */

.createUser{
    display: none;
}

/********************************************************/
/* test form */
.testForm{
    width: 350px;
    height: 100px;
    margin: 25px auto 0 auto;

    border: 2px solid gray;

    position: relative;
}

.testForm label{
    position: absolute;
    top: 10px;
    left: 10px;
}


.testForm input{
    position: absolute;
    
    top: 10px;
    right: 10px;
    
}


